.HYtop {
  height: 60px;
  width: 100%;
  background: #083653;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  .selectBox {
    height: 60px;
    span {
      font-size: 18px;
      color: #fff;
    }
    .ant-select {
      width: 160px !important;
    }
    .ant-select-selector {
      height: 40px !important;
      border: 1px solid #117dcc !important;
      background-color: #08334e !important;
      color: #fff !important;
      border-radius: 4px !important;
      span{
        font-size: 16px;
        color: #bfbfbf;
      }
    }
  }
  .bottomBox {
    .ant-btn {
      border: 2px solid #27cbdc;
      height: 40px;
      width: 100px;
      margin-left: 15px;
      background:  linear-gradient(180deg, rgba(33,90,145,1) 0%, rgba(78,189,174,1) 100%);
    }
  }
}
