.infoCard {
  width: 24%;
  min-width: 260px;
  border-radius: 16px !important;
  padding: 2vw !important;
}
.infoCard .ant-card-head {
  padding: 0;
}
.infoCard .ant-card-head .ant-card-head-title {
  padding: 0;
}
.infoCard .ant-card-head .ant-card-head-title .card-title {
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
  z-index: 10;
}
.infoCard .ant-card-head .ant-card-extra {
  padding: 0;
}
.infoCard .ant-card-body {
  padding: 0 !important;
}
.infoCard .ant-card-body .card-desc {
  color: white;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  color: #ffffffb3;
  margin: 1vw 0;
  z-index: 10;
}
.infoCard .ant-btn-background-ghost {
  border-color: #fff8;
  width: 100px;
}
@media (max-width: 1680px) {
  .infoCard .card-title {
    font-size: 26px;
    line-height: 37px;
  }
}
.allContent .tabs {
  margin-bottom: 30px;
}
.allContent .tabs .ant-radio-button-wrapper {
  padding: 0px 50px;
  background: #fff;
}
.allContent .fitlersAndExport {
  height: 34px;
  margin-bottom: 30px;
  display: flow-root;
}
.allContent .fitlersAndExport .datePicks {
  float: left;
  font-size: 16px;
  color: #000 !important;
}
.allContent .fitlersAndExport .datePicks .ant-picker {
  padding: unset;
  border-radius: 2px !important;
}
.allContent .fitlersAndExport .datePicks .ant-picker .ant-picker-input {
  border-radius: 2px !important;
  padding-left: 22px !important;
  width: 171px;
  background: #eef0f2;
}
.allContent .fitlersAndExport .datePicks .ant-picker .ant-picker-input input {
  border-radius: 2px !important;
  padding-left: 10px;
  color: #606266 !important;
}
.allContent .fitlersAndExport .datePicks .ant-picker .ant-picker-suffix {
  border-radius: 2px;
  height: 32px;
  background: #1890ff;
  align-items: center;
  padding: 0px 5px;
  display: flex;
}
.allContent .fitlersAndExport .exportButton {
  float: right;
}
.allContent .fitlersAndExport .exportButton .exportButtons {
  background: #0084ff !important;
  border-color: #0084ff !important;
  color: #ffffff;
}
.allContent .tableContent .ant-table-title {
  height: 40px;
  padding: unset;
}
.allContent .tableContent .ant-table-title .title {
  float: left;
  height: 100%;
  width: 10%;
  text-align: center;
  padding: 9px;
  background: #ebf5ff;
  font-weight: bold;
  border-right: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table-title .content {
  width: 90%;
  height: 100%;
  padding: 9px 42px;
  float: right;
}
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-title {
  border: 1px solid #d0dae4;
  border-bottom: 0;
}
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-title .title {
  color: #000000 !important;
}
.allContent .tableContent .ant-table-thead > tr > th {
  background: #ebf5ff;
  border-bottom: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table-tbody > tr > td {
  border-bottom: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > thead > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > thead > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > thead > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tbody > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tbody > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tbody > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > th,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tfoot > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table > tfoot > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-body > table > tfoot > tr > td,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-summary > table > tfoot > tr > td {
  border-right: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container {
  border-left: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table-tbody > tr > td {
  padding: 9px 16px;
}
.allContent .tableContent .ant-table-thead > tr > th {
  padding: 6px 16px;
  font-weight: bold;
  color: #000000 !important;
}
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table,
.allContent .tableContent .ant-table.ant-table-bordered > .ant-table-container > .ant-table-header > table {
  border-top: 1px solid #d0dae4;
}
.allContent .tableContent .ant-table-tbody tr:nth-child(2n) {
  background: #f9fcff;
}
.allContent .ant-empty-image {
  display: none !important;
}
.allContent .ant-empty-description {
  color: #909399 !important;
}
.allContent .ant-empty-normal {
  margin: 10px 0 !important;
}
.allContent .ant-table-column-sorters {
  flex: none !important;
  display: flex !important;
  justify-content: center !important;
}
.allContent .ant-table-column-title {
  flex: none !important;
  margin-right: 10px !important;
}
.allContent .ant-radio-button-wrapper {
  padding: 0 !important;
  width: 125.52px !important;
  height: 32px !important;
  text-align: center !important;
  box-shadow: none !important;
  font-size: 16px !important;
  line-height: 32px !important;
}
.allContent .ant-radio-button-wrapper-checked {
  font-weight: 700 !important;
  border: 1px solid #1b85ff !important;
  color: #1b85ff !important;
}
.allContent .ant-picker {
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px !important;
  width: 139px !important;
  height: 32px !important;
}
.allContent .ant-picker-input {
  width: 139px !important;
  height: 32px !important;
  border-radius: 2px !important;
}
.allContent .ant-picker-input {
  border: 1px solid #d9d9d9 !important;
  border-left: 0px solid #d9d9d9 !important;
  border-right: 0px solid #d9d9d9 !important;
  border-radius: 2px !important;
}
.allContent .ant-picker-suffix,
.allContent .ant-picker-clear {
  background: none !important;
  margin-right: 5px !important;
}
.allContent .anticon-calendar {
  display: none !important;
}
.allContent .riliIcon1 {
  margin-left: -4.8px;
  margin-top: -0.8px;
}
.allContent .riliIcon2 {
  margin-top: -0.8px;
}
.allContent .ant-table-column-sorter-up {
  font-size: 13px !important;
}
.allContent .ant-table-column-sorter-down {
  font-size: 13px !important;
  margin-top: -0.43em !important;
}
