.tranfer-table-filter-modal {
  .ant-col {
    line-height: 32px;
  }

  .json-content {
    max-height: 400px;
    border: 1px solid #ddd;
    padding: 10px;
  }

  .btn-container {
    text-align: right;
  }
}
.list-custom-scan-warning-modal {
  .ant-modal-confirm-body .ant-modal-confirm-content {
    font-size: 16px;
  }
  .ant-modal-confirm-body > .anticon {
    margin-top: 1px;
  }
}
.list-custom-scan-confirm-modal {
  .ant-modal-confirm-body .ant-modal-confirm-content {
    font-size: 16px;
  }
  .ant-modal-confirm-body > .anticon {
    margin-top: 1px;
  }
}
.list-custom-scan-success-modal {
  .ant-modal-body {
    height: 142px;
  }
  .ant-modal-confirm-body .ant-modal-confirm-content {
    font-size: 16px;
  }
  .ant-modal-confirm-btns {
    display: none;
  }
  .ant-modal-confirm-body > .anticon {
    margin-top: 1px;
  }
}
